@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #222831;
}

#app {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  color: #EEEEEE;
}

.main-container {
  max-width: 600%;
  width: 100%;
  margin: 0 auto;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  position: relative;
}

.pacifico-font {
  font-family: "Pacifico", cursive;
}

.n-input {
  --n-bezier: cubic-bezier(.4, 0, .2, 1);
    --n-count-text-color: rgb(118, 124, 130);
    --n-count-text-color-disabled: rgba(194, 194, 194, 1);
    --n-color: rgba(255, 255, 255, 0) !important;
    --n-font-size: 16px !important;
    --n-border-radius: 16px !important;
    --n-height: 52px !important;
    --n-padding-left: 16px !important;
    --n-padding-right: 16px !important;
    --n-text-color: #EEEEEE !important;
    --n-caret-color: #EEEEEE !important;
    --n-text-decoration-color: rgb(51, 54, 57);
    --n-border: 1px solid #9b9b9b !important;
    --n-border-disabled: 1px solid #9b9b9b !important;
    --n-border-hover: 1px solid #9b9b9b !important;
    --n-border-focus: 1px solid #9b9b9b !important;
    --n-placeholder-color: rgba(194, 194, 194, 1);
    --n-placeholder-color-disabled: rgba(209, 209, 209, 1);
    --n-icon-size: 16px;
    --n-line-height-textarea: 1.6;
    --n-color-disabled: rgba(250, 250, 252, 0) !important;
    --n-color-focus: rgba(255, 255, 255, 0) !important;
    --n-text-color-disabled: rgba(194, 194, 194, 1);
    --n-box-shadow-focus: 0 0 0 0px rgba(24, 160, 87, 0) !important;
    --n-loading-color: #18a058;
    --n-caret-color-warning: #EEEEEE !important;
    --n-color-focus-warning: rgba(255, 255, 255, 1);
    --n-box-shadow-focus-warning: 0 0 0 2px rgba(240, 160, 32, 0.2);
    --n-border-warning: 1px solid #9b9b9b !important;
    --n-border-focus-warning: 1px solid #9b9b9b !important;
    --n-border-hover-warning: 1px solid #9b9b9b !important;
    --n-loading-color-warning: #9b9b9b;
    --n-caret-color-error: #d03050;
    --n-color-focus-error: rgba(255, 255, 255, 1);
    --n-box-shadow-focus-error: 0 0 0 0px rgba(208, 48, 80, 0) !important;
    --n-border-error: 1px solid #d03050 !important;
    --n-border-focus-error: 1px solid #de576d !important;
    --n-border-hover-error: 1px solid #de576d !important;
    --n-loading-color-error: #d03050;
    --n-clear-color: rgba(194, 194, 194, 1);
    --n-clear-size: 16px;
    --n-clear-color-hover: rgba(146, 146, 146, 1);
    --n-clear-color-pressed: rgba(175, 175, 175, 1);
    --n-icon-color: rgba(194, 194, 194, 1);
    --n-icon-color-hover: rgba(146, 146, 146, 1);
    --n-icon-color-pressed: rgba(175, 175, 175, 1);
    --n-icon-color-disabled: rgba(209, 209, 209, 1);
    --n-suffix-text-color: #EEEEEE !important;
}

.number-input-main .n-input {
  --n-bezier: cubic-bezier(.4, 0, .2, 1);
    --n-count-text-color: rgb(118, 124, 130);
    --n-count-text-color-disabled: rgba(194, 194, 194, 1);
    --n-color: rgba(255, 255, 255, 0) !important;
    --n-font-size: 32px !important;
    --n-border-radius: 0px !important;
    --n-height: 52px !important;
    --n-padding-left: 50px !important;
    --n-padding-right: 50px !important;
    --n-text-color: #EEEEEE !important;
    --n-caret-color: #EEEEEE !important;
    --n-text-decoration-color: rgb(51, 54, 57);
    --n-border: 0px solid rgb(224, 224, 230) !important;
    --n-border-disabled: 0px solid rgb(224, 224, 230) !important;
    --n-border-hover: 0px solid #36ad6a !important;
    --n-border-focus: 0px solid #36ad6a !important;
    --n-placeholder-color: rgba(194, 194, 194, 1);
    --n-placeholder-color-disabled: rgba(209, 209, 209, 1);
    --n-icon-size: 16px;
    --n-line-height-textarea: 1.6;
    --n-color-disabled: rgba(250, 250, 252, 0) !important;
    --n-color-focus: rgba(255, 255, 255, 0) !important;
    --n-text-color-disabled: rgba(194, 194, 194, 1);
    --n-box-shadow-focus: 0 0 0 0px rgba(24, 160, 87, 0) !important;
    --n-loading-color: #18a058;
    --n-caret-color-warning: #EEEEEE !important;
    --n-color-focus-warning: rgba(255, 255, 255, 1);
    --n-box-shadow-focus-warning: 0 0 0 2px rgba(240, 160, 32, 0.2);
    --n-border-warning: 0px solid #f0a020 !important;
    --n-border-focus-warning: 0px solid #fcb040 !important;
    --n-border-hover-warning: 0px solid #fcb040 !important;
    --n-loading-color-warning: #f0a020;
    --n-caret-color-error: #d03050;
    --n-color-focus-error: rgba(255, 255, 255, 1);
    --n-box-shadow-focus-error: 0 0 0 0px rgba(208, 48, 80, 0) !important;
    --n-border-error: 0px solid #d03050 !important;
    --n-border-focus-error: 0px solid #de576d !important;
    --n-border-hover-error: 0px solid #de576d !important;
    --n-loading-color-error: #d03050;
    --n-clear-color: rgba(194, 194, 194, 1);
    --n-clear-size: 16px;
    --n-clear-color-hover: rgba(146, 146, 146, 1);
    --n-clear-color-pressed: rgba(175, 175, 175, 1);
    --n-icon-color: rgba(194, 194, 194, 1);
    --n-icon-color-hover: rgba(146, 146, 146, 1);
    --n-icon-color-pressed: rgba(175, 175, 175, 1);
    --n-icon-color-disabled: rgba(209, 209, 209, 1);
    --n-suffix-text-color: #EEEEEE !important;
    text-align: center;
}