@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #303030;
}

#app {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  color: #EEEEEE;
}

.main-container {
  max-width: 600%;
  width: 100%;
  margin: 0 auto;
  background: #242424;
  padding-bottom: 84px;
  position: relative;
}

.pacifico-font {
  font-family: "Pacifico", cursive;
}

.n-input {
  --n-bezier: cubic-bezier(.4, 0, .2, 1);
    --n-count-text-color: rgb(118, 124, 130);
    --n-count-text-color-disabled: rgba(194, 194, 194, 1);
    --n-color: rgba(255, 255, 255, 0) !important;
    --n-font-size: 16px !important;
    --n-border-radius: 16px !important;
    --n-height: 52px !important;
    --n-padding-left: 16px !important;
    --n-padding-right: 16px !important;
    --n-text-color: #EEEEEE !important;
    --n-caret-color: #EEEEEE !important;
    --n-text-decoration-color: rgb(51, 54, 57);
    --n-border: 1px solid #9b9b9b !important;
    --n-border-disabled: 1px solid #9b9b9b !important;
    --n-border-hover: 1px solid #9b9b9b !important;
    --n-border-focus: 1px solid #9b9b9b !important;
    --n-placeholder-color: rgba(194, 194, 194, 1);
    --n-placeholder-color-disabled: rgba(209, 209, 209, 1);
    --n-icon-size: 16px;
    --n-line-height-textarea: 1.6;
    --n-color-disabled: rgba(250, 250, 252, 0) !important;
    --n-color-focus: rgba(255, 255, 255, 0) !important;
    --n-text-color-disabled: rgba(194, 194, 194, 1);
    --n-box-shadow-focus: 0 0 0 0px rgba(24, 160, 87, 0) !important;
    --n-loading-color: #18a058;
    --n-caret-color-warning: #EEEEEE !important;
    --n-color-focus-warning: rgba(255, 255, 255, 1);
    --n-box-shadow-focus-warning: 0 0 0 2px rgba(240, 160, 32, 0.2);
    --n-border-warning: 1px solid #9b9b9b !important;
    --n-border-focus-warning: 1px solid #9b9b9b !important;
    --n-border-hover-warning: 1px solid #9b9b9b !important;
    --n-loading-color-warning: #9b9b9b;
    --n-caret-color-error: #d03050;
    --n-color-focus-error: rgba(255, 255, 255, 1);
    --n-box-shadow-focus-error: 0 0 0 0px rgba(208, 48, 80, 0) !important;
    --n-border-error: 1px solid #d03050 !important;
    --n-border-focus-error: 1px solid #de576d !important;
    --n-border-hover-error: 1px solid #de576d !important;
    --n-loading-color-error: #d03050;
    --n-clear-color: rgba(194, 194, 194, 1);
    --n-clear-size: 16px;
    --n-clear-color-hover: rgba(146, 146, 146, 1);
    --n-clear-color-pressed: rgba(175, 175, 175, 1);
    --n-icon-color: rgba(194, 194, 194, 1);
    --n-icon-color-hover: rgba(146, 146, 146, 1);
    --n-icon-color-pressed: rgba(175, 175, 175, 1);
    --n-icon-color-disabled: rgba(209, 209, 209, 1);
    --n-suffix-text-color: #EEEEEE !important;
}

.number-input-main .n-input {
  --n-bezier: cubic-bezier(.4, 0, .2, 1);
    --n-count-text-color: rgb(118, 124, 130);
    --n-count-text-color-disabled: rgba(194, 194, 194, 1);
    --n-color: rgba(255, 255, 255, 0) !important;
    --n-font-size: 32px !important;
    --n-border-radius: 0px !important;
    --n-height: 52px !important;
    --n-padding-left: 0px !important;
    --n-padding-right: 50px !important;
    --n-text-color: #EEEEEE !important;
    --n-caret-color: #EEEEEE !important;
    --n-text-decoration-color: rgb(51, 54, 57);
    --n-border: 0px solid rgb(224, 224, 230) !important;
    --n-border-disabled: 0px solid rgb(224, 224, 230) !important;
    --n-border-hover: 0px solid #36ad6a !important;
    --n-border-focus: 0px solid #36ad6a !important;
    --n-placeholder-color: rgba(194, 194, 194, 1);
    --n-placeholder-color-disabled: rgba(194, 194, 194, 0.5) !important;
    --n-icon-size: 16px;
    --n-line-height-textarea: 1.6;
    --n-color-disabled: rgba(250, 250, 252, 0) !important;
    --n-color-focus: rgba(255, 255, 255, 0) !important;
    --n-text-color-disabled: rgba(194, 194, 194, 0.5) !important;
    --n-box-shadow-focus: 0 0 0 0px rgba(24, 160, 87, 0) !important;
    --n-loading-color: #18a058;
    --n-caret-color-warning: #EEEEEE !important;
    --n-color-focus-warning: rgba(255, 255, 255, 1);
    --n-box-shadow-focus-warning: 0 0 0 2px rgba(240, 160, 32, 0.2);
    --n-border-warning: 0px solid #f0a020 !important;
    --n-border-focus-warning: 0px solid #fcb040 !important;
    --n-border-hover-warning: 0px solid #fcb040 !important;
    --n-loading-color-warning: #f0a020;
    --n-caret-color-error: #d03050;
    --n-color-focus-error: rgba(255, 255, 255, 1);
    --n-box-shadow-focus-error: 0 0 0 0px rgba(208, 48, 80, 0) !important;
    --n-border-error: 0px solid #d03050 !important;
    --n-border-focus-error: 0px solid #de576d !important;
    --n-border-hover-error: 0px solid #de576d !important;
    --n-loading-color-error: #d03050;
    --n-clear-color: rgba(194, 194, 194, 1);
    --n-clear-size: 16px;
    --n-clear-color-hover: rgba(146, 146, 146, 1);
    --n-clear-color-pressed: rgba(175, 175, 175, 1);
    --n-icon-color: rgba(194, 194, 194, 1);
    --n-icon-color-hover: rgba(146, 146, 146, 1);
    --n-icon-color-pressed: rgba(175, 175, 175, 1);
    --n-icon-color-disabled: rgba(209, 209, 209, 1);
    --n-suffix-text-color: #EEEEEE !important;
}

.n-select .n-base-selection {
  --n-bezier: cubic-bezier(.4, 0, .2, 1);
  --n-border: 1px solid rgb(224, 224, 230);
  --n-border-active: 1px solid #18a058;
  --n-border-focus: 1px solid #36ad6a;
  --n-border-hover: 1px solid #36ad6a;
  --n-border-radius: 16px !important;
  --n-box-shadow-active: 0 0 0 2px rgba(24, 160, 88, 0.2);
  --n-box-shadow-focus: 0 0 0 2px rgba(24, 160, 88, 0.2);
  --n-box-shadow-hover: none;
  --n-caret-color: #18a058;
  --n-color: #2c2c2c !important;
  --n-color-active: #2c2c2c !important;
  --n-color-disabled: #2c2c2c !important;
  --n-font-size: 16px !important;
  --n-height: 52px !important;
  --n-padding-single-top: 0;
  --n-padding-multiple-top: 3px;
  --n-padding-single-right: 26px;
  --n-padding-multiple-right: 26px;
  --n-padding-single-left: 12px;
  --n-padding-multiple-left: 12px;
  --n-padding-single-bottom: 0;
  --n-padding-multiple-bottom: 0;
  --n-placeholder-color: rgba(194, 194, 194, 1);
  --n-placeholder-color-disabled: rgba(209, 209, 209, 1);
  --n-text-color: #EEEEEE !important;
  --n-text-color-disabled: rgba(194, 194, 194, 1);
  --n-arrow-color: rgba(194, 194, 194, 1);
  --n-arrow-color-disabled: rgba(209, 209, 209, 1);
  --n-loading-color: #18a058;
  --n-color-active-warning: rgba(255, 255, 255, 1);
  --n-box-shadow-focus-warning: 0 0 0 2px rgba(240, 160, 32, 0.2);
  --n-box-shadow-active-warning: 0 0 0 2px rgba(240, 160, 32, 0.2);
  --n-box-shadow-hover-warning: none;
  --n-border-warning: 1px solid #f0a020;
  --n-border-focus-warning: 1px solid #fcb040;
  --n-border-hover-warning: 1px solid #fcb040;
  --n-border-active-warning: 1px solid #f0a020;
  --n-color-active-error: rgba(255, 255, 255, 1);
  --n-box-shadow-focus-error: 0 0 0 2px rgba(208, 48, 80, 0.2);
  --n-box-shadow-active-error: 0 0 0 2px rgba(208, 48, 80, 0.2);
  --n-box-shadow-hover-error: none;
  --n-border-error: 1px solid #d03050;
  --n-border-focus-error: 1px solid #de576d;
  --n-border-hover-error: 1px solid #de576d;
  --n-border-active-error: 1px solid #d03050;
  --n-clear-size: 16px;
  --n-clear-color: rgba(194, 194, 194, 1);
  --n-clear-color-hover: rgba(146, 146, 146, 1);
  --n-clear-color-pressed: rgba(175, 175, 175, 1);
  --n-arrow-size: 24px !important;
}

.n-base-select-menu.n-select-menu {
  --n-height: calc(var(--n-option-height)* 7.6);
    --n-action-divider-color: rgb(239, 239, 245);
    --n-action-text-color: rgb(51, 54, 57);
    --n-bezier: cubic-bezier(.4, 0, .2, 1);
    --n-border-radius: 3px;
    --n-color: #2c2c2c !important;
    --n-option-font-size: 14px;
    --n-group-header-text-color: rgb(118, 124, 130);
    --n-option-check-color: #18a058;
    --n-option-color-pending: #242424 !important;
    --n-option-color-active: rgba(0, 0, 0, 0);
    --n-option-color-active-pending: #242424 !important;
    --n-option-height: 34px;
    --n-option-opacity-disabled: 0.5;
    --n-option-text-color: #868686 !important;
    --n-option-text-color-active: #18a058;
    --n-option-text-color-disabled: rgba(194, 194, 194, 1);
    --n-option-text-color-pressed: #0c7a43;
    --n-option-padding: 0 12px;
    --n-option-padding-left: 12px;
    --n-option-padding-right: 12px;
    --n-loading-color: #18a058;
    --n-loading-size: 18px;
    --n-menu-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
}

.tab-custom-main {
  --n-color-segment: #2c2c2c !important;
  --n-tab-border-radius: 8px !important;
  --n-tab-text-color: #d2d2d2 !important;
  --n-tab-text-color-active: #1a1a1a !important;
}

.tab-custom-main .n-tabs-nav {
  padding: 0 16px;
}

.tab-custom-main .n-tabs-pane-wrapper {
  display: flex;
  flex-flow: column;
   flex-grow: 1;
}

.block-categories {
  position: relative;
}

.block-categories::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(36,36,36,0) 0%, rgba(36,36,36,1) 100%);
}